<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="{% static 'css/ind.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <header>
    <img src="https://sun9-25.userapi.com/c834101/v834101940/126710/__-D_wVnjvc.jpg" width="100%" height="280px">
        <nav>
  <a href="{% url 'home' %}">Главная</a>
  <a href="{% url 'rybalka' %}">Рыбалка</a>
  <a href="{% url 'rybalka' %}">Охота</a>
  <a href="{% url 'odejda' %}">Одежда</a>
  <a href="{% url 'rybalka' %}">О нас</a>
</nav>
        </header>
</head>
<body>
<div class="text">
    <h1>О компании Мир Охоты</h1>
    <p>Сеть магазинов «Мир охоты» - одна из крупнейших торговых сетей товаров для активного отдыха в России.</p>
    <p>
        <b>Мир охоты - это:</b>
    </p>
    <ul>
        <li>Уникальный формат магазинов "три в одном" – рыбалка, туризм и охота;</li>
        <li>Общая площадь магазинов более 22 500 м2;</li>
        <li>Более 90 000 наименований товаров;</li>
        <li>Высокий сервис и качественное обслуживание;</li>
        <li>Современный и инновационный подход к бизнесу;</li>
        <li>Постоянный рост и стремление к развитию;</li>
        <li>Индивидуальная работа с нашим покупателем.</li>
    </ul>
    <p>Сеть магазинов «Мир охоты» была основана в 1999 году.
        Активная работа менеджеров позволяет регулярно предоставлять Вам возможность познакомиться с самыми последними новинками.
        Сотрудники компании - опытные охотники, рыболовы, туристы - всегда готовы прийти на помощь в выборе необходимого для Вас товара.
    </p>
    <p>
        <b>География магазинов:
        </b>
        Омск, Самара, Волгоград, Санкт-Петербург, Краснодар, Ростов-на-Дону, Армавир, Белореченск, Кропоткин, Крымск, Казань, Лабинск, Москва, Новороссийск, Сочи, Тихорецк, Туапсе, Уфа, Ульяновск.
    </p>
    <p>
        <b>Прямые поставки:</b>
    «Мир охоты» - официальный представитель на территории России целого ряда брендов, занимающих лидирующие позиции на мировом рынке:
</p>
    </div>

</body>
</html>